.message-box
  %h3.message-box__name
    = message.user.name
  %p.message-box__date
    = message.created_at
  - if message.content.present?
    %p.message-box__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
