.message-box
  %h3.message-box__name #投稿したユーザーの名前
  %p.message-box__date #yyyy/mm/dd hh:mm:ss
  %p.message-box__content サンプル

.message-box
  %h3.message-box__name #投稿したユーザーの名前
  %p.message-box__date #yyyy/mm/dd hh:mm:ss
  %p.message-box__content
    サンプル
    %br
    サンプル
    %br
    サンプル

