.flash {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;

  &-notice {
    background: #38AEF0;
    color: #FFFFFF;
  }
  &-alert {
    background: #FF0000;
    color: #FFFFFF;
  }

}

