.user-box  {
  height: 100px;
  background: #253141;
  line-height: 100px;
  padding: 0 20px 0 20px;
  &__name-list {
    float: left;
  }
  &__icon-list {
    float: right;
  }
  &__name {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
  }
}

.fa-icon--color {
  color: #FFFFFF;
}
